<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .BlogName }}</title>

    <!-- purecss -->
    <link rel="stylesheet" href="../css/pure/pure-min.css"/>
    <link rel="stylesheet" href="../css/pure/grids-responsive-min.css">

    <!-- fonts -->
    <link rel="stylesheet" href="../fonts/bitter/bitter.css"/>
    <link rel="stylesheet" href="../fonts/spectral/spectral.css"/>
    <link rel="stylesheet" href="../fonts/aleo/aleo.css"/>

    <!-- main css file -->
    <link rel="stylesheet" href="../css/main.css"/>

    <!-- enable "responsiveness" -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="pure-g" id="main">
    <!--<div class="pure-u"></div>-->
    <div class="pure-u-5-6 pure-u-sm-4-5 pure-u-md-3-5 pure-u-lg-5-8 pure-u-xl-5-12" id="content">
        <h1><a href="/">{{ .BlogName }}</a></h1>
        <div id="article">
            <h2>{{ .Article.Title }}</h2>
            <p>{{ .Article.Content }}</p>
        </div>
    </div>
    <!--<div class="pure-u"></div>-->
</div>
</body>
</html>